.DS_Store

fish_history
fishd.*

generated_completions

config/configstore
config/E_Line Media
config/filezilla
config/fontforge
config/heroku
config/meld
config/menus
config/Might and Delight
config/QtProject
config/Unreal Engine

*.sublime-workspace
