.DS_Store

fish_history
fishd.*

generated_completions

config/.mono
config/asciinema
config/configstore
config/E_Line Media
config/E-Line Media
config/expressvpn
config/filezilla
config/fontforge
config/GameMakerStudio2
config/gatsby
config/gh
config/gh-copilot
config/GitHubUnity
config/gitup
config/gops
config/heroku
config/insect-history
config/iterm2
config/Kalypso Media
config/meld
config/menus
config/Might and Delight
config/NuGet
config/QtProject
config/simple-update-notifier
config/stetic
config/Unreal Engine
config/xbuild

config/fish/*_variables
config/fish/functions/fish_prompt.fish

config/yarn/global/node_modules
config/yarn/global/yarn.lock
config/yarn/link

# sensitive data:
support/sensitive*
support/gitconfig.ini
credentials.json

*.sublime-workspace

yarn-error.log
