[submodule "oh-my-fish"]
	path = oh-my-fish
	url = git://github.com/oh-my-fish/oh-my-fish.git
[submodule "support/z"]
	path = support/z
	url = git@github.com:rupa/z.git
[submodule "support/grc"]
	path = support/grc
	url = git@github.com:garabik/grc.git
