[submodule "vendors/solarized-osx-terminal-colors"]
	path = vendors/solarized-osx-terminal-colors
	url = https://github.com/tamul/solarized-osx-terminal-colors.git
[submodule "vendors/powerline-fonts"]
	path = vendors/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
